* {
    padding: 0;
    margin: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  #btn {
    width: 80px;
    height: 50px;
    border-radius: 10%;
    background-color: white;
    border: none;
    box-shadow: 3px 3px 3px lightgray;
    color: gray;
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
  }
  #btn:hover {
    background-color: lightgray;
    color: white;
    box-shadow: none;
  }
  
  #mainContainer {
    width: 99%;
    height: 950px;
    display: flex;
    align-self: center;
    justify-content: center;
  }
  
  #contentContainer {
    width: 90%;
    height: 900px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  
  .itemContainer {
    width: 90%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }
  .item {
    width: 30%;
    height: 280px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
  }